@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center; /* !!! */
}

.grid-container {
  display: grid;
  margin: 0 auto;
  text-align: left;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  background-color: #e6e6e6;
  padding: 10px;
  max-width: 50vw;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid-item, .grid-number {
  border: none;
  padding: 20px;
  font-size: 22pt;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.grid-item {
  background-color: #f0f0f0;
  font-weight: normal;
}

.grid-number {
  background-color: #fafafa;
  font-weight: bold;
}

button {
  outline: none;
}

button:hover {
  background-color: #b1b4b5;
  color: black;
}

button[operation]:hover {
  background-color: #15a1c1;
  color: white;
}

#input {
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 5px;
  font-size: 22pt;
  text-align: right;
}